
	* {
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
	}

	

	h1{
		margin-top: 20px;
		text-align: center;  
		font-family: "Times New Roman", Times, serif;

	}
	.left, .middle, .right {
		background-color: #D3D3D3;
		padding: 0px 0px 0px 0px;
		border: 1px solid black;
		margin: 20px;
		width: 300px;
		float: left;
		position: relative;
		margin-right: 10px;
		text-align: center;
		font-family: "Times New Roman", Times, serif;


	}

	.content1 {
		background-color: pink;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		float: right;
		height: 30px;
		width: 90px;
		margin-top: 0px;


	}
	.content2 {
		background-color: #b0e0e6;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		float: right;
		height: 30px;
		width: 90px;
		margin-top: 0px;


	}
	.content3 {
		background-color: yellow;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		float: right;
		height: 30px;
		width: 90px;
		margin-top: 0px;


	}



h3{
	text-align: center;
}
p{
	clear: right;
	padding: 5px;
}
 
@media (min-width: 992px) {
	.left {
		width: 30%;
		}
		 .middle {
		 	width: 30%;
		 	} 
		 	.right {
		 		width: 30%;
		 	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.left {
		width: 44%;
	}
	.middle {
		width: 44%;
	}
	.right {
		width: 90%;
	}

}


